<ng-template #msword>
  <svg-msword-icon></svg-msword-icon>
</ng-template>
<ng-template #pdf>
  <svg-pdf-icon></svg-pdf-icon>
</ng-template>

<mat-card class="container">
  <mat-card-header class="header">
    <mat-card-title class="title-text">
      <div class="title-greeting">
        <div style="font-weight: 400">Hello, I'm</div>
        <h2
          class="my-name"
          style="font-style: oblique; margin-left: 2rem; margin-top: 1rem"
        >
          Xuyen Nguyen.
        </h2>
        <mat-divider [inset]="true"></mat-divider>
      </div>
      <div class="title-hook">
        <div class="hook-tags">
          <mat-chip
            *ngFor="let chip of introductionChipData"
            style="margin: 0.2rem"
            [matTooltip]="getJoinedText(isSmallScreen ? chip.textElements : null)"
            matTooltipTouchGestures="on"
            matTooltipPosition="above"
          >
            <span
              [hidden]="isSmallScreen"
              *ngFor="let element of chip.textElements"
              [innerHTML]="element.text + ' '"
              [style]="element.style"
            >
            </span>
            <span>{{ chip.icon }}</span>
          </mat-chip>
        </div>
        <div class="hook-quote" [hidden]="isSmallScreen">
          <p>
            Do it
            <span style="font-style: oblique; font-weight: bold"
              >Scared</span
            >.
          </p>
        </div>
      </div>
    </mat-card-title>
    <div class="title-image" [hidden]="isExtraSmallScreen">
      <div
        style="
          position: absolute;
          color: black;
          text-shadow:
            -2px -2px 0 white,
            2px 2px 0 wheat;
          padding-bottom: 1rem;
          font-family: Arial, Helvetica, sans-serif;
        "
      >
        <h1>Hue, Vietnam</h1>
        <h3>July, 2023</h3>
      </div>
      <img width="95%" src="images/Hue-ao-dai-old-sticker-style.webp" />
    </div>
  </mat-card-header>
  <div class="hook-quote" [hidden]="!isSmallScreen">
    <p>
      "<span style="font-style: oblique; font-weight: bold">Motivation</span>
      is essentially
      <span style="font-weight: bold; font-style: oblique">momentum</span>.
      Start taking action <span>now</span>, and motivation will follow, driving
      you forward."
    </p>
  </div>
  <div class="print-resume-button" matTooltip="Download my resume" >
    <button [hidden]="isSmallScreen" mat-fab [matMenuTriggerFor]="printMenu"><mat-icon>print</mat-icon></button>
    <button [hidden]="!isSmallScreen" mat-mini-fab [matMenuTriggerFor]="printMenu"><mat-icon>print</mat-icon></button>
    <mat-menu #printMenu="matMenu">
      <div mat-menu-item disabled>Download My Resume</div>
      <mat-divider></mat-divider>
      <a mat-menu-item href="files/Xuyen-Nguyen-Resume.docx" download><app-icon-button
        text="Docx"
        [svgIconTemplate]="msword"
      ></app-icon-button></a>
      <a mat-menu-item href="files/Xuyen-Nguyen-Resume.PDF" download><app-icon-button
        text="PDF"
        [svgIconTemplate]="pdf"
      ></app-icon-button></a>
    </mat-menu>
  </div>
  <mat-card-content>
    <div style="margin: 0.5rem; font-size: small">
      <span style="font-weight: bold">ABOUT ME</span>
    </div>
    <mat-card class="card">
      <mat-card-content>
        <p style="margin-top: 0">
          I am a self-learner at heart. I have taught myself various new skills from speaking Japanese to building websites to knitting. As much as I value formal education, I believe that the ability to teach myself is a powerful asset in its own right.
        </p>

        <p>
          This belief guided me throughout my years studying computer science, inspiring me to build many educational tools such as American Sign Language (ASL) Alphabet Learning, Chinese Typing Practice, Class Schedule Builder, etc. One of my proudest moments was when my Capstone team won 3rd place for the most outstanding project with our Signable app—a Duolingo-styled app designed to teach the ASL alphabet. This achievement encouraged me to further expand the app. Therefore, I plan to go back to school for a Master's Degree in AI and Machine Learning to deepen my expertise in these fields. Wish me luck! 🙏😁 (I got in!)
        </p>

        <p>
          Outside of work and study, I enjoy outdoor activities like hiking, camping, rollerblading, and swimming. I also love playing games with my friends. Some of my favorite titles are The Sims 4, Monster Hunter Rise, Animal Crossing: New Horizons, and Don't Starve Together. Once in a while, I indulge myself in drawing and 3D modeling. Transforming interests into productivity is kind of my thing. Currently, my friends and I are working on a top-down shooting game called Shirt Biter. So far, my main responsibilities involve concept art designing and assets modeling, despite my Computer Science background.
        </p>
        
        <p>
          In addition to my professional and academic experiences, side projects like these have taught me invaluable skills and knowledge. I want to maintain that momentum, pushing my limits and expanding my horizons. I know that what I learn today will not only satisfy my curiosity but also empower me to build applications that positively impact the world.
        </p>
      </mat-card-content>
    </mat-card>
    <div style="margin: 0.5rem; font-size: small">
      <span style="font-weight: bold">EDUCATION</span>
    </div>
    <mat-card class="card">
      <mat-card-content class="education-container">
        <div>
          <div>University of Utah</div>
          <div>Bachelor of Science in Computer Science</div>
        </div>
        <div class="date-time">
          <div>Salt Lake City, Utah</div>
          <div>May 2024</div>
        </div>
      </mat-card-content>
    </mat-card>
    <div style="margin: 0.5rem; font-size: small">
      <span style="font-weight: bold">TECHNICAL SKILLS</span>
    </div>
    <mat-card class="card">
      <mat-card-content>
        <div class="skills">
          <button
            style="margin-right: 0.5rem; margin-bottom: 0.5rem; cursor: default"
            mat-stroked-button
          >
            Web Development
          </button>
          <button
            style="margin-right: 0.5rem; margin-bottom: 0.5rem; cursor: default"
            mat-stroked-button
          >
            Machine Learning
          </button>
          <button
            style="margin-right: 0.5rem; margin-bottom: 0.5rem; cursor: default"
            mat-stroked-button
          >
            Artifitial Intelligence
          </button>
          <button
            style="margin-right: 0.5rem; margin-bottom: 0.5rem; cursor: default"
            mat-stroked-button
          >
            Computer Graphics
          </button>
        </div>
        <mat-chip-set class="skills">
          <mat-chip>Angular</mat-chip>
          <mat-chip>React</mat-chip>
          <mat-chip>Next</mat-chip>
          <mat-chip>Django</mat-chip>
          <mat-chip>ASP.NET</mat-chip>
          <mat-chip>Spring Boot</mat-chip>
          <mat-chip>REST API</mat-chip>
          <mat-chip>JavaScript</mat-chip>
          <mat-chip>TypeScript</mat-chip>
          <mat-chip>HTML</mat-chip>
          <mat-chip>CSS</mat-chip>
          <mat-chip>Python</mat-chip>
          <mat-chip>C#</mat-chip>
          <mat-chip>C/C++</mat-chip>
          <mat-chip>Java</mat-chip>
          <mat-chip>SQL</mat-chip>
          <mat-chip>Git</mat-chip>
          <mat-chip>TensorFlow</mat-chip>
        </mat-chip-set>
        <mat-chip-set class="skills">
          <mat-chip>Unity</mat-chip>
          <mat-chip>Unreal Engine</mat-chip>
          <mat-chip>Maya</mat-chip>
          <mat-chip>Blender</mat-chip>
          <mat-chip>Photoshop</mat-chip>
        </mat-chip-set>
      </mat-card-content>
    </mat-card>
    <div style="margin: 0.5rem; font-size: small">
      <span style="font-weight: bold">EXPERIENCE</span>
    </div>
    <mat-card class="card">
      <mat-card-content>
        <div style="margin-bottom: 2.5rem">
          <div class="experience-header">
            <div>
              <div style="font-weight: bold">Software Engineer</div>
              <div>BlueSkyTech</div>
            </div>
            <div class="date-time">
              <div>March 2024 - present</div>
              <div>(Remote)</div>
            </div>
          </div>
          <ul>
            <li>
              Incorporate frontend stacks including NextJS, Redux Toolkit,
              TypeScript, and Material UI to build responsive websites that are
              compatible with multiple devices and web browsers.
            </li>
            <li>
              Implement API calls for streamlined frontend-backend communication
            </li>
          </ul>
        </div>
        <div>
          <div class="experience-header">
            <div>
              <div style="font-weight: bold">Full-Stack Developer</div>
              <div>University of Utah - Umail</div>
            </div>
            <div class="date-time">
              <div>November 2021 - June 2024</div>
              <div>Salt Lake City, Utah</div>
            </div>
          </div>
          <ul>
            <li>
              Automated 100+ tasks with PowerShell scripts that interact with
              database systems such as SQL Server
            </li>
            <li>
              Worked in a team and individually to troubleshoot problems in
              migrating 100000+ user mailboxes and groups within Microsoft
              Exchange servers.
            </li>
            <li>
              Maintained and updated the internal website using tools like
              Angular, .Net, Bootstrap, and Graph API.
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
